#####   For configuring loso.erpnext.host  ( Digital Ocean :: 24854gd2 )
# -----------------------------------------------------------------------
# Alias configuration: 'lenh' «begins»
# Alias 'lenh' binds to remote user 'admin@loso.erpnext.host'
Host lenh
  User admin
  HostName loso.erpnext.host
  ServerAliveInterval 120
  ServerAliveCountMax 20
  IdentityFile /home/you/.ssh/admin_loso_erpnext_host
# Alias configuration: 'lenh' «ends»

#####   For configuring stg.erpnext.host  ( Contabo :: 24854gd2 )
# -----------------------------------------------------------------------
# Alias configuration: 'serpht' «begins»
# Alias 'serpht' binds to remote user 'adm@stg.erpnext.host'
Host serpht
  User adm
  HostName stg.erpnext.host
  ServerAliveInterval 120
  ServerAliveCountMax 20
  IdentityFile /home/you/.ssh/adm_stg_erpnext_host
# Alias configuration: 'serpht' «ends»

